.main-header {
  min-height: 850px;
  background: url(../img/header-bg.jpg) top center no-repeat;
  width: 100%;
  background-size: cover;
  display: inline-block; }
  .main-header__nav {
    background: rgba(0, 0, 0, 0.3); }
  .main-header__logo {
    margin-top: 27px;
    margin-bottom: 40px;
    float: left; }
  .main-header__list {
    float: right;
    margin: 48px 0; }
    .main-header__list li {
      float: left;
      margin-right: 80px; }
      .main-header__list li a {
        color: #FFF;
        text-decoration: none;
        padding-bottom: 10px; }
        .main-header__list li a:hover {
          border-bottom: 2px solid #FFF; }
        .main-header__list li a:active {
          opacity: 0.3; }
    .main-header__list li.main-header__active a:hover {
      color: #d22856;
      border-bottom: 2px solid #d22856; }
    .main-header__list li.main-header__active a:active {
      opacity: 0.3; }
    .main-header__list li:last-child {
      margin-right: 0; }
  .main-header .header-content {
    margin-top: 120px;
    width: 300px; }
    .main-header .header-content__download {
      margin-top: 60px;
      border: 3px solid #FFF;
      -webkit-border-radius: 30px;
              border-radius: 30px;
      padding: 15px 28px;
      font-weight: 700;
      text-decoration: none;
      color: #fff;
      font-size: 21px;
      display: block;
      -webkit-transition: .5s;
      transition: .5s; }
      .main-header .header-content__download:hover {
        background: #fff;
        color: #d22856; }
        .main-header .header-content__download:hover:active {
          color: rgba(210, 40, 86, 0.3); }
    .main-header .header-content__platform {
      margin-top: 65px;
      margin-bottom: 60px; }
      .main-header .header-content__platform img {
        display: inline;
        margin: 0 25px; }
  .main-header .platform {
    color: #FFF;
    text-align: center;
    font-weight: 100; }
