@import "default/normalize.sass"
@import "default/default.sass"
@import "header.sass"

.sentence
  &__title
    color: #283645
    text-align: center
    margin: 78px 0
  &__area
    background: #f2f2f2 url(../img/sentence-bg.jpg) top center no-repeat
    background-size: 100%
  &__list
    padding: 0
    li
      width: 300px
      float: left
      margin-right: 20px
      p
        color: #283645
        text-align: center
        margin-bottom: 30px
    li:last-child
      margin-right: 0
  &__list-title
    font-size: 30px
    font-weight: 700
    line-height: 30px
    &--center
      text-align: center
      display: block
  &__time-garant
    margin-bottom: 65px
    display: inline-block
    width: 100%
    img
      float: left
  &__garant-content
    float: right
    width: 570px
    margin-top: 100px
    p
      color: #283645
    a
      color: #d22856
